.app {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.app__header__left {
    flex: 0.85;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.info__box {
    display: flex;
    justify-content: space-around
}
body{
    background-color: #f5f6fa;
}
@media(max-width:900px){
    .app{
        flex-direction: column;
    }
}